:root {
    --brand-color-primary: #6bb868;
    --brand-color-secondary: #464646;
    --brand-color-tertiary: #8b8b8b;

    --background-color-primary: #464646;
    --background-color-secondary: #636363;
    --background-color-tertiary: #6bb868; 

    --text-color-primary: ;
    --text-color-secondary: ;


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 300ms ease-in-out;
}

body {
    background-color: var(--background-color-primary);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: sticky; 
    top: 0px;
    border: 5px solid #000000;
    background-color: var(--background-color-tertiary);
}

header * {
}

.logo, .search-bar {
    margin: 10px;
}

.navigation-bar {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 4px solid var(--brand-color-secondary)
}


.navigation-bar a {
    flex-grow: 1;
    list-style: none;
    text-align: center;
    align-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.navigation-bar a:hover {
    transform: scale(1.05);
    background-color: var(--brand-color-tertiary);
    color: var(--brand-color-primary);
    font-size: 1.2rem;
}

.navigation-bar .active {
    background-color: var(--brand-color-primary);
}

footer {
    border: 5px solid #000000;
    margin-top: 10px;
    background-color: var(--background-color-tertiary);
}

div {
    background-color: var(--background-color-secondary);
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        "banner banner"
        "services services"
        "latest-project contact-form";
    border: 5px solid #000000;
    background-color: var(--background-color-tertiary);
}

.banner {
    grid-area: banner;
    display: flex;
    background-color: var(--background-color-primary);
}

.banner-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 3rem;
    }
}

.content {
    grid-area: services;
    display:flex;
    justify-content: space-around;
    gap: 10px;

}

.box {
    /*Design the content of the boxes here*/
    margin: 10px;
    display: flex;
    div {
        background-color: #8b8b8b;
    }
}

.box:hover {
    transform: scale(1.05);
}

.box-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.box-info {
    padding: 10px;
}



.projects{
    grid-area: latest-project;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.projects div {
    background-color: #8b8b8b;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact{
    grid-area: contact-form;
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.contact div {
    background-color: #8b8b8b;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}