:root {

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

}

header {
    display: flex;
    justify-content: space-between;
    border: 5px solid #000000;
}

footer {
    border: 5px solid #000000;
    margin: 10px;
}

div {
    border: 3px solid #15ff00;
    margin: 10px;
}


.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navigation-bar li {
    list-style: none;
}



.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        "banner banner"
        "services services"
        "latest-project contact-form";
    border: 5px solid #000000;
}

.banner {
    grid-area: banner;
    border: 3px solid #ff00ff;
    
}

.content {
    grid-area: services;
    border: 3px solid #ff00ff;
    display:flex;
    justify-content: space-evenly;
}

.box {
    /*Design the content of the boxes here*/
}

.projects{
    grid-area: latest-project;
}

.contact{
    grid-area: contact-form;
}
