:root {
    --brand-color-primary:
    --brand-color-secondary:
    --brand-color-tertiary:

    --background-color-primary:
    --background-color-secondary:
    --background-color-tertiary:

    --text-color-primary:
    --text-color-secondary:


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 300ms ease-in-out;
}

body {
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border: 5px solid #000000;
    position: sticky; 
    top: 0px;
}

header * {
    border: 3px solid #15ff00;
}


.navigation-bar {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation-bar li {
    
}

.navigation-bar a {
    flex-grow: 1;
    list-style: none;
    text-align: center;
    align-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.navigation-bar a:hover {
    transform: scale(1.05);
}

footer {
    border: 5px solid #000000;
    margin: 10px;
}

div {
    border: 3px solid #15ff00;
    margin: 10px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        "banner banner"
        "services services"
        "latest-project contact-form";
    border: 5px solid #000000;
}

.banner {
    grid-area: banner;
    border: 3px solid #ff00ff;
    
}

.content {
    grid-area: services;
    border: 3px solid #ff00ff;
    display:flex;
    justify-content: space-evenly;
}

.box {
    /*Design the content of the boxes here*/
    flex-grow: 1;
}

.box:hover {
    flex-grow: 3;
}

.projects{
    grid-area: latest-project;
}

.contact{
    grid-area: contact-form;
}
