:root {
    --brand-color-primary: #6bb868;
    --brand-color-secondary: #464646;
    --brand-color-tertiary: #8b8b8b;

    --background-color-primary: #464646;
    --background-color-secondary: #636363;
    --background-color-tertiary: #6bb868; 

    --text-color-primary: ;
    --text-color-secondary: ;


}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 300ms ease-in-out;
}

body {
    background-color: var(--background-color-primary);
}


div {
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: sticky; 
    top: 0px;
    border: 4px solid #000000;
    background-color: var(--background-color-tertiary);
}

button{
    background-color: var(--brand-color-primary);
    border-radius: 10px;
    text-decoration: none;
}

button:hover{
    transform: scale(1.1);
    box-shadow: inset 4px 4px 4px #ffffff;
}

.logo, .search-bar {
    margin: 10px;
}

.logo {
    width: 182px;
}

.logo img {
    height:50px;
    width:50px;
    border: 4px solid #000000;
    border-radius: 5px;

}

.search-bar {
    height: 30px;
    padding:5px;
    border-radius: 5px;
    
}

.navigation-bar {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.navigation-bar a {
    flex-grow: 1;
    list-style: none;
    text-align: center;
    align-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
    background-color: var(--background-color-secondary);
}

.navigation-bar a:hover {
    transform: scale(1.05);
    background-color: var(--brand-color-tertiary);
    color: var(--brand-color-primary);
    font-size: 1.2rem;
}

.navigation-bar .active {
    background-color: var(--brand-color-primary);
}

footer {
    border: 5px solid #000000;
    margin-top: 10px;
    background-color: var(--background-color-tertiary);
}



.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        "banner banner"
        "services services"
        "latest-project contact-form";
    border: 5px solid #000000;
    background-color: var(--background-color-tertiary);
}

.banner {
    grid-area: banner;
    display: flex;
    background-color: var(--background-color-primary);
}

.banner-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 3rem;
        color: var(--brand-color-primary);
        text-shadow: 2px 2px 4px #ffffff, 4px 4px 8px #000000;
    }
}

.content {
    grid-area: services;
    display:flex;
    justify-content: space-around;
    gap: 10px;

}

.box {
    /*Design the content of the boxes here*/
    margin: 10px;
    padding: 5px;
    display: flex;
    background-color: var(--brand-color-tertiary);
    border: 5px solid var(--brand-color-secondary);
    border-radius: 5px;
    width: 30%;
}

.box:hover {
    transform: scale(1.05);
}

.box-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 50%;
}

.box-info {
    padding: 10px;
    width: 50%;
}



.projects{
    grid-area: latest-project;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border: 5px solid var(--brand-color-secondary);
    border-radius: 5px;
    background-color: var(--brand-color-tertiary);
}

.project-display{
    width: 50%;

    img {
        width: 150px;
    }
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.contact{
    grid-area: contact-form;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border: 5px solid var(--brand-color-secondary);
    border-radius: 5px;
    background-color: var(--brand-color-tertiary);
}

.contact-display {
    width: 50%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}


.contact-form{
    margin: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid var(--brand-color-secondary);
    border-radius: 5px;
    background-color: var(--brand-color-tertiary);

    input {
        width: 30%;
        height: 30px;
        flex: 0 0 50px;
        border-radius: 5px;
        padding: 5px;
    }
    button {
        width: 20%;
    }
}

@media (max-width: 748px) {
    
    .container{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 200px 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        "banner"
        "services"
        "latest-project"
        "contact-form";
    }

    .content{
    
    grid-area: services;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    }

    .box{
        max-width: 400px;
        min-width: 300px;
        margin:auto;
    }

    .projects, .contact{
        max-width: 400px;
        min-width: 300px;
        margin:auto;
    }
   
}