:root {

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        "header header header"
        "banner banner banner"
        "service-1 service-2 service-3"
        "latest-project contact-form";
    padding: 10px;
}

header {

}

div {
    padding: 10px;
    border: 3px solid #000000;
}