:root {

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border: 5px solid #000000;
    position: sticky; 
    top: 0px;
}

header * {
    border: 3px solid #15ff00;
}


.navigation-bar {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navigation-bar li {
    flex-grow: 1;
    width: 100%;
    height:100%;
    list-style: none;
    text-align: center;
    align-content: center;
}

.navigation-bar li:hover {
    flex-grow: 2;
}

footer {
    border: 5px solid #000000;
    margin: 10px;
}

div {
    border: 3px solid #15ff00;
    margin: 10px;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr;
    gap: 10px;
    grid-template-areas: 
        "banner banner"
        "services services"
        "latest-project contact-form";
    border: 5px solid #000000;
}

.banner {
    grid-area: banner;
    border: 3px solid #ff00ff;
    
}

.content {
    grid-area: services;
    border: 3px solid #ff00ff;
    display:flex;
    justify-content: space-evenly;
}

.box {
    /*Design the content of the boxes here*/
    flex-grow: 1;
}

.projects{
    grid-area: latest-project;
}

.contact{
    grid-area: contact-form;
}
